# Pastas de resultados e modelos (adicionado agora)
figures/
model/

# Ignorar arquivos de cache
__pycache__/
*.pyc

# Ignorar ambientes virtuais
env_ML/
.conda/
venv/

# Ignorar dados e ficheiros temporários do Jupyter
.ipynb_checkpoints/
data/
*.csv