# Models and Results Folders
figures/
new_version/cache/
new_version/model/
backup_old_version/model/
backup_old_version/PREPROCESSING_COMPARISON.md
presentation_report/
test.ipynb

# Cache Files
__pycache__/
*.pyc

# Virtual Environments
.conda/
venv/
.venv/
env_ML/

# Data and Jupyter Temporary Files
data/
.ipynb_checkpoints/
*.csv
*.parquet