# Models and Results Folders
backup_old_version/
figures/
new_version/cache/
new_version/model/
new_version/miscellaneous/
new_version/presentation_report/miscellaneous/

# Cache Files
__pycache__/
*.pyc

# Virtual Environments
.conda/
venv/
.venv/
env_ML/

# Data and Jupyter Temporary Files
data/
.ipynb_checkpoints/
*.csv
*.parquet